@model IEnumerable<Fan.Chinese.MVC.Models.Vocabulary>

@{
    ViewData["Title"] = "Vocabularies";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pinyin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chinese)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.English)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Example)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicVocabularies)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    var link = string.Format("https://www.google.co.uk/search?q={0}",@item.Chinese); 
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pinyin)
        </td>
        <td>
            <a href=@link>@Html.DisplayFor(modelItem => item.Chinese)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.English)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Example)
        </td>
        <td>
            @if (item.TopicVocabularies != null)
            {
                var count = 0;
                foreach (var vocabulary in item.TopicVocabularies)
                {
                    count++;
                    var topicId =String.Format("~/Topics/Details/{0}", vocabulary.Topic.TopicId);
                    <a href=@topicId>@Html.DisplayFor(modelItem => vocabulary.Topic.TopicName)</a>
                    if (count < item.TopicVocabularies.Count)
                    {
                        <span>  |  </span>
                    }
                }
            }
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.VocabularyId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.VocabularyId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.VocabularyId">Delete</a>
        </td>
    </tr>
}
</table>
